/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
	max-height: 100%;
	min-height: 100%;
	background: #EEEEEE;
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    display:inline-block;
}

h2,span{
	color:#719721;
	font-size:1.5em;
	text-transform:initial;
}
/* Portrait layout (default) */
.app {
   	position: relative;
	width: 50%;
	padding: 0 0 0;
	background: #EEEEEE;
	height: 100%;
	float: left;
}

.scanning, .view-window, .menu-window{
	width:33.3333%;
}

.scan-window {
	width:300% !important;
}

.android .back{
    display:none;
}

.ios .back {
    position: absolute;
    top: 1.5em;
    left: 1.4em;
}

.ios .back:after {
    border: 3px solid #719721;
    border-right: 3px solid transparent;
    border-top: 3px solid transparent;
    content: " ";
    height: 0.5em;
    left: -0.7em;
    position: absolute;
    top: 0.2em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 0.5em;
}

.scan {
	float: right;
	margin-top: -5%;
	margin: -5% 2% 0 0;}

.Redimir, .RedimirNuevo, .Cerrar{
	position: absolute;
	bottom: 5%;
	right: 5%;
	width: 90%;
	height: 8%;
	background: #719721;
	color: #FFF;
	border:none;
	outline:none;
	font-size:1.8em;
}

.Splash{
	background:url("../img/bg_960x1440.png") no-repeat left  top/100% 100%;
	float: left;
	width: 50%;
	content: "";
	position: relative;
	height: 100%;
	z-index: 2;
}
.login{
	text-align:center;
	margin-top: 30%;
}
.inputs, .comprobantes ul{
	margin	: 8% 0 0;
	background:#FFF;
	border-top: 1px groove #D7D7D7;
	border-bottom: 1px groove #D7D7D7;
}
.menu-list {
    margin	: 8% 0 0;
    background:#FFF;
    border-top: 1px groove #D7D7D7;
}
.menu-list li {
    border-bottom: 1px groove #D7D7D7;
    width:90%;
    height:1em;
    font-size:1.5em;
    padding:1em;
    text-align:left;
    position:relative;
}
.menu-list li span {
    font-size:1em;
    float:right;
}

.menu-list li.first:after, .menu-list li.last:after {
    border: 3px solid #719721;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    content: " ";
    height: 0.3em;
    left: 16em;
    position: absolute;
    top: 1.3em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 0.3em;
}



.comprobantes li {
    width:50%;
    height:1em;
    font-size:1.5em;
    padding:0.5em;
}
.inputs input{
	border:none;
	width: 94%;
	padding: 3%;
	outline:none;
}

.inputs hr {
	width: 96%;
	margin: 0 auto;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:1.7em;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

/*****************************************************************/
/*                ANdroid ****************************************/
/*****************************************************************/

*{
	font-family: "Arial",sans-serif;
	font-size: 2em;
	text-transform: none;
}
/*header {
	background:#FFFFFF;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:11%;
}*/


header {
	background: #FFFFFF;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 10%;
	float: left;}

header h1 {
	margin-top:5%;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}


.containerIndex {
	position: fixed;
	width: 200%;
	height: 100%;
	-webkit-transform: translate3d(0,0,0);
	-webkit-transition:-webkit-transform 0.5s ease-in;
	top: 0;
}

.scanning .inputs{
	display: inline-block;
	width: 90%;
	background: transparent;
	border: none;
	padding: 0 5%;
}

.scanning .inputs input{
	width: 77%;
	float: left;
	line-height: 160%;
	border-radius: 10px;
	border: 1px solid #c3c3c3;
	padding: 3% 3% 3% 20%;
}

.mask-sharp{
	position: absolute;
	left: 10%;
	line-height: 160%;
	border-right: 1px groove;
	padding-right: 2%;
	font-size: 3em;
	margin-top:1%;
}

/*****************************************************************/
/*                login ****************************************/
/*****************************************************************/

.loading {
    background: url('../img/loader.gif') no-repeat top;
    width: 100px;
    height: 100px;
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    display:none;
}

.move{
-webkit-transform: translate3d(-50%,0,0);
}

.moveApp{
    -webkit-transform: translate3d(-33.3333%,0,0);
}


@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
